<style type="text/css" media="screen">
  body {
    text-align:center;
    background-color: #D4422F;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #333;
    position: relative;
    padding: 20px;
    height: 1000px;
  }

  span {
    font-size: 150px;
    font-weight: 800;
    text-align: center;
  }

  .button {
    max-width: 100%;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
</style>
<div class="button"><span align="center">+1 Team Hal!</span></button>
<script type="text/javascript">
  $('.button').click( function() {
    $.get('/pong?name=hal&event=plus');
  });
</script>
