
<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<style type="text/css" media="screen">

      body {
        text-align:center;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #2A363B;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        color: #fff;
      }

      h1 {
        font-size: 50px;
      }

      section {
        display: inline-block;
        margin: 0 auto;
        width: 40%;
        padding: 20px;
      }

      .score {
        font-weight: 800;
        font-size: 100px;
      }

</style>
<h1 align="center">Labs Pong!</h1>
<section id="team-watson">
  <div class="team-name">Team Watson</div>
  <div class="score"></div>
</section>
<section id="team-hal">
  <div class="team-name">Team Hal</div>
  <div class="score"></div>
</section>

<script type="text/javascript">
var stahp = false
  function doPoll(){
    $.get('/pong?name=watson', function(data) {
      $('#team-watson .score').text(data.score)
      if(stahp) {
        return
      }
      setTimeout(doPoll,2000);
    });
    $.get('/pong?name=hal', function(data) {
      $('#team-hal .score').text(data.score)
      if(stahp) {
        return
      }
      setTimeout(doPoll,2000);
    });
  }
  doPoll()
</script>
